= form_for @prompt do |f|
  - if @prompt.errors.any?
    #error_explanation
      %h2= "#{pluralize(@prompt.errors.count, 'error')} prohibited this prompt from being saved:"
      %ul
        - @prompt.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :image
    = f.text_field :image
  .actions
    = f.submit 'Save'
