= content_tag 'li', :class => 'promptItem galleryItem', :data => {drawings: prompt.drawings[0..9],
  has_more: (prompt.drawings.length > 10)} do
  .promptCard.galleryCard.hasSlideIn
    = image_tag prompt.image, :class => 'prompt'
    %ul.slideIns
      %li.slideIn
        -# = link_to "View Drawings", prompt_drawings_path(prompt)
        = link_to image_tag(asset_path('gallery-icons/view.png')), prompt
      %li.slideIn
        -# = link_to "View the Prompt", prompt_path(d.prompt)
        = link_to image_tag(asset_path('gallery-icons/draw.png')), new_prompt_drawing_path(prompt)
      %li.slideIn.openFolder
        = image_tag(asset_path('gallery-icons/tiles.png'))

