- content_for :stylesheets do
  = stylesheet_link_tag asset_path('gallery.css')

- content_for :javascripts do
  = javascript_include_tag asset_path('gallery.js')

%ul#prompts.gallery
  = render @prompts

- if link_to_next_page @prompts, ''
  #loadmore
    Load more...

#pages
  = paginate @prompts
