var calculateGalleryWidth = function()
{
    return Math.floor($(window).width() / $('.galleryItem').width()) * $('.galleryItem').width();
};

var reactToResize = function()
{
    $('.folder').stop(true, true).remove();
    $('.clicked').removeClass('clicked');
    $('.gallery').width(calculateGalleryWidth());
};

$('.folder').slideUp(reactToResize);


$('.galleryItem').addClass('preexisting');

$('.gallery').append('<%= j render @prompts %>');

<% if link_to_next_page @prompts, '' %>
    $('.pagination').replaceWith('<%= j paginate @prompts %>');
    $('#loadmore').text('Load more...');
<% else %>
    $('#loadmore').fadeOut({conplete: function(){$('#loadmore').remove()}});
    $('.pagination').remove();
<% end %>

bindPromptItems($('.galleryItem').not('.preexisting'));