- content_for :stylesheets do
  = stylesheet_link_tag asset_path('gallery.css')

- content_for :javascripts do
  = javascript_include_tag asset_path('gallery.js')
  = javascript_include_tag asset_path('drawings.js')

- content_for :page_info do
  - if not @prompt.drawings.empty?
    %li
      = link_to 'First drawn by ' + @prompt.drawings.first.user.name, @prompt.drawings.first.user
  %li
    = link_to 'Draw this inkblot', new_prompt_drawing_path(@prompt)
  - if current_user and current_user.is_admin?
    %li{:class => ('destructiveAction adminOption')}
      = link_to 'Delete this inkblot', @prompt, confirm: 'Are you sure? This will also delete every interpretation.',
             method: :delete

#showPrompt
  = image_tag @prompt.image

%ul#drawings.gallery
  = render @drawings