%li.drawingItem.galleryItem
  .drawingCard.galleryCard.hasSlideIn
    = image_tag drawing.image, :class => 'drawing'
    = image_tag drawing.prompt.image, :class => 'prompt'
    %ul.slideIns
      %li.slideIn
        = link_to image_tag(asset_path('gallery-icons/view.png')), prompt_drawing_path(drawing.prompt, drawing)
      -#%li.slideIn
      -#  = link_to image_tag(asset_path('gallery-icons/draw.png')), new_prompt_drawing_path(drawing.prompt)
      -#%li.slideIn.toggleInkblot
      -#  = image_tag asset_path('gallery-icons/inkblot.png')
      %li.slideIn
        = link_to (image_tag asset_path('gallery-icons/inkblot.png')), drawing.prompt
      %li.slideIn
        = link_to image_tag(asset_path('gallery-icons/user.png')), drawing.user