= form_for [@prompt, @drawing] do |f|
  - if @drawing.errors.any?
    #error_explanation
      %h2= "#{pluralize(@drawing.errors.count, 'error')} prohibited this drawing from being saved:"
      %ul
        - @drawing.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :title
    = f.text_field :title
  .actions
    = f.submit 'Save'
