$('.galleryItem').addClass('preexisting');

$('.gallery').append('<%= j render @drawings %>');

<% if link_to_next_page @drawings, '' %>
    $('.pagination').replaceWith('<%= j paginate @drawings %>');
    $('#loadmore').text('Load more...');
<% else %>
    $('#loadmore').fadeOut({conplete: function(){$('#loadmore').remove()}});
    $('.pagination').remove();
<% end %>

bindDrawingItems($('.galleryItem').not('.preexisting'));