- content_for :stylesheets do
  = stylesheet_link_tag asset_path('gallery.css')

%ul#drawings.gallery
  = render @drawings

- if link_to_next_page @drawings, ''
  #loadmore
    Load more...
#pages
  = paginate @drawings