- content_for :stylesheets do
  = stylesheet_link_tag asset_path('gallery.css')

- content_for :page_info do
  = link_to '<< Back to the prompt', @prompt


%ul#drawings.gallery
  = render @drawings