- content_for :javascripts do
  :javascript
    window.prompt_url = '#{@prompt.image}'
    window.colors = #{@prompt.colors || 'null'};

= render 'draw/canvases'

= form_for [@prompt, @drawing], :html => {:id => 'submitPrompt'} do |f|
  = f.hidden_field :drawingData, :id => 'drawingData'
