- content_for :page_info do
  %li
    = link_to 'Drawn by ' + @drawing.user.name, @drawing.user
  - if current_user and ((current_user.id == @drawing.user_id) or current_user.is_admin)
    %li{:class => ('destructiveAction' + (current_user.is_admin ? ' adminOption' : ''))}
      = link_to 'Delete this drawing', [@prompt, @drawing], confirm: 'Are you sure? I think it\'s beautiful',
       method: :delete
  %li
    = link_to 'View the inkblot', @prompt

#drawingWrapper
  = image_tag @drawing.image, id: 'drawing'
  = image_tag @prompt.image, id: 'prompt'
