- if not user.is_banned?
  = content_tag 'li', :class => 'userItem galleryItem' do
    .userCard.galleryCard.hasSlideIn
      = image_tag user.drawings.first.image, :class => 'drawing'
      .slideIn.slideInTop
        = user.name
      .slideIn.slideInBottom
        = link_to 'View all by this user', user

-#%h1
-#  = link_to user.name, user
-#= user.provider + ': '
-#= user.uid
-#%br
-#= user.is_banned