$('.galleryItem').addClass('preexisting');

$('.gallery').append('<%= j render @users %>');

<% if link_to_next_page @users, '' %>
$('.pagination').replaceWith('<%= j paginate @users %>');
$('#loadmore').text('Load more...');
<% else %>
$('#loadmore').fadeOut({conplete: function(){$('#loadmore').remove()}});
$('.pagination').remove();
<% end %>

bindUserItems($('.galleryItem').not('.preexisting'));