- content_for :stylesheets do
  = stylesheet_link_tag asset_path('gallery.css')

- content_for :javascripts do
  = javascript_include_tag asset_path('gallery.js')


%ul#users.gallery
  = render @users

- if link_to_next_page @users, ''
  #loadmore
    Load more...
#pages
  = paginate @users