- content_for :stylesheets do
  = stylesheet_link_tag asset_path('gallery.css')

- content_for :javascripts do
  = javascript_include_tag asset_path('drawings.js')


- if @user.is_banned?
  - if can_ban(current_user, @user)
    = link_to 'Unban this user', {:action => 'update', :admin_action => 'unban'},
    :confirm => 'Are you sure? This will allow them to draw new pictures, but will not bring the old ones back.',
    :method => :put, :class => 'unbanpillow'

  %h1#isBanned
    This user (#{@user.name}) has been banned and their drawings have been deleted.

- else
  - if can_ban(current_user, @user)
    = link_to 'Ban this user', {:action => 'update', :admin_action => 'ban'},
    :confirm => 'Are you sure? The user can be unbanned in the future, but their drawings will be gone forever.',
    :method => :put, :class => 'banhammer'

  %ul#drawings.gallery
    = render @drawings

  - if link_to_next_page @drawings, ''
    #loadmore
      Load more...
  #pages
    = paginate @drawings