- content_for :stylesheets do
  = stylesheet_link_tag asset_path('draw.css')

- content_for :javascripts do
  = javascript_include_tag asset_path('draw.js')


#canvasWrapper
  - if not current_user
    #coverCanvases
      #login
        = link_to image_tag(image_path('draw/login.png')), '/auth/twitter', id: 'loginButton'
        = link_to '{Why?}', {:controller => 'static', :action => 'info', :anchor => 's2'}, :id => 'whyTwitter'
  %canvas#prompt
  %canvas#userInput
  %canvas#ui
  = render 'draw/uiCanvasDiv'

  %form#submitDrawing
    %h1 Really submit? You will not be able to edit your drawing.
    #submitButtons
      = image_tag image_path('draw/check.png'), :id => 'yes'
      = image_tag image_path('draw/x.png'), :id => 'no'

