= form_for @prompt, :html => {:id => 'submitPrompt'} do |f|
  = f.hidden_field :promptData, :id => 'promptData'
  = f.hidden_field :colors, :id => 'colors'
  = f.fields_for :drawings do |builder|
    = builder.hidden_field :drawingData, :id => 'drawingData'