#ui_div
  #save.ui_button
    = image_tag('draw/save.png')
  #trash.ui_button
    = image_tag('draw/trash.png')
  #undo.ui_button
    = image_tag('draw/undo.png')
  #redo.ui_button
    = image_tag('draw/redo.png')
  #brush.ui_button
    #brush_color_indicator
    = image_tag('draw/brush.png')
  #erase.ui_button
    = image_tag('draw/erase.png')
  #plus.ui_button
    = image_tag('draw/plus.png')
  #minus.ui_button
    = image_tag('draw/minus.png')
  #generate.ui_button
    = image_tag('draw/generate_big.png')
  #brushes
  #prompt_colors

  #color_picker