#staticContentWrapper
  .s
    %h1.t
      %a{:id => 's1', :class => 'sectionAnchor'}
      General FAQ


    %h2.q
      %a{:id => 'q1', :class => 'questionAnchor'}
      What is Rorschdraw?

    %p.a
      Rorschdraw is an experiment in visual interpretation. Its purpose is to collect and explore the different ways
      people may react to the same image. In the case of this site, the image is a randomly generated inkblot.
      There are no right or wrong responses. Unless your drawing gets deleted...then it was probably wrong.
      If you are 'wrong' quite often you will probably be banned.

    %h2.q
      %a{:id => 'q2', :class => 'questionAnchor'}
      How do I get started?

    %p.a
      Before you can start you will need to #{ link_to 'sign in with Twitter', 'auth/twitter'}. To learn more
      about why and the information this site has access to after doing so please see
      #{link_to 'Signing in with Twitter', '#s2'} below.
      After you have been authenticated you will be presented with an inkblot generated just for you. If you would
      rather reinterpret an inkblot somebody else has drawn, you can always do so by browsing inkblots from the
      #{link_to '"View all inkblots"', prompts_path()}
      page accessible using the sidebar navigation and choosing one that you find particularly evocative.
      Either path will present you with a canvas on which to draw. For more details on the interface and tools
      available, check out #{link_to 'The Drawing Interface', '#s3'}.

    %h2.q
      %a{:id => 'q3', :class => 'questionAnchor'}
      Who can see my drawings? Who can see my Twitter information?

    %p.a
      All drawings are public and all drawings are associated with the Twitter account of the person who drew them.
      Everybody can see a link to your Twitter profile, but what they'll actually see there depends on your account's
      privacy settings. This site does not expose or access any information that you have not already made publicly
      available.

  .s
    %h1.t
      %a{:id => 's3', :class => 'sectionAnchor'}
      The Drawing Interface
    %p
      Once your inkblot has been generated you can start drawing using your mouse or touch screen. However, if you want
      to change your brush type or color, or use any of the other available tools you'll need to access them by clicking
      the crossed brush and wrench icon on the left of the screen. You can also summon and dismiss the menu by right
      clicking the canvas if you are using a mouse. Just below you will find a list of the buttons and their functions.
    = image_tag image_path('interface.png')
    %ol
      %li
        Colors chosen dynamically when the inkblot was created.
      %li
        Colors that are available for all inkblots.
      %li
        Submit your drawing (you will be asked to confirm).
      %li
        Trash your current drawing and start over (can be undone).
      %li
        Undo the last action (drawing, erasing, trashing).
      %li
        Redo the last undone action.
      %li
        Set the drawing mode to "Brush". This button also displays the current brush color.
      %li
        Set the drawing mode to "Erase".
      %li
        Increase the brush size.
      %li
        Decrease the brush size.
      %li
        Change your brush style or tool type.
      %li
        Generate a new inkblot.

  .s
    %h1.t
      %a{:id => 's2', :class => 'sectionAnchor'}
      Signing in with Twitter

    %h2.q
      %a{:id => 'q4', :class => 'questionAnchor'}
      Why do I have to sign-in with Twitter?

    %p.a
      This website uses OAuth provided by Twitter to manage user authentication. This is beneficial to us because it
      reduces the amount of spam accounts and relieves the website of the responsibility of protecting your information.
      You password is never seen by this website. Period.
      This is also good news for you because this is one less site that you have to trust with an email address and
      what is probably the same password you are using for your bank account and every other website.

    %h2.q
      %a{:id => 'q5', :class => 'questionAnchor'}
      So you don't see my password, but what account information DO you see?

    %p.a
      In addition to the unique UID number, Twitter's OAuth response also includes information like your avatar,
      the colors you've used for your profile page, and your most recent update. It's not very interesting stuff and
      all that is accessed by this site is the UID number and your nickname. You can see literally everything that is
      done with your information #{ link_to 'here', 'https://gist.github.com/shoja/0e26b2e8e9aed7054e7b'}.

    %h2.q
      %a{:id => 'q6', :class => 'questionAnchor'}
      Will this website ever post updates without my permission?

    %p.a
      No. In fact, when you log in Twitter will show you a list of things this site cannot do. This list includes
      following new people, updating your profile, posting tweets for you, and accessing your DMs in any way.
      In the highly unlikely event that the permissions requested by the site change you will be warned by Twitter
      before they authorize the site to do anything funny.
