/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

*
{
  padding: 0px;
  margin: 0px;
  font-family: helvetica;
  border: none;
}

#notice
{
  width:  500px;
  margin: auto;

}

#header
{
  width: 200px;
  height: 100%;
  line-height: 20px;
  color: black;
  font-family: helvetica;
  font-size: 13px;
  position: fixed;
  top: 0px;
  left:  0px;
  z-index: 5;
  padding-bottom: 10px;
  padding-right: 10px;

  &.collapsed
  {
    left: -200px;
  }

  #menu
  {
    width: 200px;
    height: 100%;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, .5);
    background: #1e1e1e;
    position: relative;
    z-index: 3;

    overflow-x: hidden;
    overflow-y: auto;

    ul
      {
      width: 200px;
      list-style: none;
      overflow: hidden;

      li
      {
        border-bottom: 3px solid black;
        width: 100%;
        line-height: 50px;
        padding-left: 10px;
        background: #1e1e1e;
        transition: .5s;

        &:hover
        {
          background: #3e3e3e;
        }

        &.destructiveAction
        {

          &:hover
          {
            background: #e32636;
          }
        }
      }


      a
        {
        display: block;
        background:transparent;
        width: 100%;
        height: 100%;
        font-size: 20px;
        color: #bbb;
      }

      a:hover
      {
        color: white;
      }
    }

    *
      {
      color: white;
      text-decoration: none;
    }

  }

  #headerPull
  {
    width: 50px;
    position:absolute;
    z-index: 4;
    top: 0px;
    right: -40px;

    img
    {
      cursor: pointer;
      display: block;
      border-bottom: 3px solid black;
      box-shadow: 6px 5px 10px 0px rgba(0, 0, 0, 0.5);
    }

  }


}

#footer
{
  width: 100%;
  background: black;
  color: white;
  text-align: center;
  height: 20px;
  line-height: 20px;

  a
  {
    color: white;
  }
}