// Place all the styles related to the drawings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#drawingWrapper
{
  height: 500px;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  cursor: pointer;
  background: white;

  img
  {
    position: absolute;
    top: 0px;
    left: 0px;
  }

  #prompt
  {
    opacity: .50;
    display: none;
  }


}
