// Place all the styles related to the draw controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#displayTitle
{
  margin: 0 auto;
  text-align: center;
}

#toggleTools
{
  position: relative;
  background: black;
  color: white;
  clear: both;
  width: 100%;
  text-align: center;
  cursor: pointer;
  height: 20px;
  line-height: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;

  &:hover
    {
    background: #eee;
    color: black;
  }
}

#canvasWrapper
{
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 500px;
  position: relative;
  z-index: 1;

  canvas
  {
    width: 500px;
    height: 500px;
    position: absolute;
    top: 0;
    left: 0;
    display: block;
  }
}

#prompt
{
  z-index: 1;
}

#promptBuffer
{
  z-index: 2;
  display: none;
}

#userInput
{
  z-index: 3;
}

#ui
{
  z-index: 4;
}

#submitDrawing
{
  background: white;
  border: 5px solid black;
  text-align: center;
  position: relative;
  top: 160px;
  margin: auto;
  z-index: 5;
  display: none;
  width: 200px;
  padding: 10px;

  h1
  {
    margin-top: 10px;
    font-size: 20px;
  }


  div
  {
    width: 100px;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 5px;
  }
}

#ui_div
{
  width: 500px;
  height: 500px;
  margin: auto;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 5;
  display: none;
  background: rgba(255, 255, 255, 0.5);

  .ui_button
  {
    width: 42px;
    height: 42px;
    position: absolute;

    &.active
    {
      box-shadow: 0 0 0 2.5px rgba(0, 0, 0, 0.5);
    }

  }

  #save
  {
    top: 5px;
    right: 57px;
  }

  #trash
  {
    top: 5px;
    right: 5px;
  }

  #undo
  {
    top: 57px;
    right: 57px;
  }

  #redo
  {
    top: 57px;
    right: 5px;
  }

  #brush
  {
    bottom: 57px;
    left: 5px;
  }

  #erase
  {
    bottom: 57px;
    left: 57px;
  }

  #plus
  {
    bottom: 5px;
    left: 57px;
  }

  #minus
  {
    bottom: 5px;
    left: 5px;
  }

  #generate
  {
    width: 94px;
    height: 94px;
    position: absolute;
    bottom: 5px;
    right: 5px;
  }

  #brushes
  {
    position: absolute;
    bottom: 31px;
    left: 127px;

    .brush_button
    {
      position: relative;
      float: left;
      margin-right: 10px;
    }

  }

  #brush_color_indicator
  {
    position:absolute;
    top: 5px;
    left: 5px;
    width: 10px;
    height: 10px;
    border: 1px solid black;
  }

  #prompt_colors
  {
    position: absolute;
    top: 70px;
    left: 120px;
    border: 5px solid black;

    .prompt_color_tile
    {
      width: 25px;
      height: 25px;
      float: left;
    }
  }

  #color_picker
  {
    position: absolute;
    top: 120px;
    left: 120px;
    border: 5px solid black;

    .color_picker_row
    {
      .color_picker_tile
      {
        width: 25px;
        height: 25px;
        float: left;

        &.bw_tile
        {
          width: 125px;
        }
      }


    }
  }

}

#coverCanvases
{
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.75);
  z-index: 5;
  position: absolute;

  #login
  {
    width: 123px;
    height: 43px;
    margin: auto;
    position: relative;
    top: 195px;
    text-align:  center;

    a
    {
      color:  black;
      text-decoration:  none;

      &:hover
      {
        text-decoration:  underline;
      }
    }
  }




  #intro
  {
    width: 75%;
    text-align: justify;
    margin: auto;
    margin-top: 125px;
    background: rgba(255, 255, 255, .75);
    border: 6px solid rgba(255, 255, 255, .75);

    span
    {
      width: 100%;
      text-align: center;
      display: block;
      background: rgba(255, 255, 255, .75);
    }
  }

}