// Place all the styles related to the gallery controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#showPrompt, #showDrawing
  {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
  background:  white;
}

.gallery
{
  list-style: none;
  margin: auto;
  overflow: hidden;
}

li.galleryItem
{
  width: 150px;
  height: 150px;
  position: relative;
  float: left;
  display: none;
  cursor: pointer;
  background: white;
}

ul.folder
{
  width: 100%;
  height: 150px;
  background-color: #eee;
  position: relative;
  float: left;
  display: none;
  list-style: none;
  overflow: hidden;

  li
  {
    height: 150px;
    width: 150px;
    position: relative;
    float: left;
    display: none;

    &:hover
    {
      background-color: white;
    }
  }

  img
  {
    height: 100%;
    width: 100%;
  }
}

li.clicked
{
  background-color: #eee;
}

.clickedTick
{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0px;
}

.drawingCard, .promptCard, .userCard, .galleryCard img
{
  width: 100%;
  height: 100%;
}

.drawingCard
{

  .drawing
  {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
  }

  .prompt
  {
    opacity: .5;
    display: none;
    position: absolute;
  }
}

.slideIns
{
  position:absolute;
  top:  0px;
  left:  0px;
  width:  100%;
  height:  100%;
  display: none;
}

.slideIn
{
  width: 100%;
  height: 50px;
  line-height: 25px;
  text-align: center;
  color: white;
  overflow: hidden;
  float: left;
  background:  rgba(30, 30, 30, .5);

  a
  {
    color: #bbb;
    text-decoration: none;
  }

  &:hover
  {
    background:  rgba(62, 62, 62, .25);
    a
    {
      color: white;
    }
  }
}

.slideInBottom
{
  bottom: 0px;
  left: 0px;
}

.slideInTop
{
  top: 0px;
  left: 0px;
}

#pages
{
  display: none;
  position: relative;
  background: black;
  color: white;
  float: left;
  clear: both;
  width: 100%;
  text-align: center;

  a
  {
    color: white;
  }
}

#loadmore
{
  position: relative;
  background: #1e1e1e;
  color: #bbb;
  clear: both;
  width: 100%;
  height: 150px;
  line-height: 150px;
  font-size: 50px;
  text-align: center;
  cursor: pointer;

  &:hover
  {
    background: #3e3e3e;
    color: white;
  }
}