// Place all the styles related to the static controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#staticContentWrapper
{
  width:  480px;
  margin:auto;
  margin-top: 20px;
  margin-bottom: 20px;

  a
  {
    color:  black;
  }

  #contents
  {
    ul
    {
      margin-bottom: 10px;

      li
        {
        list-style: none;
        margin-left: 20px;
      }
    }
  }

  .s
  {
    h1
      {
      width:  100%;
      border-bottom:  3px solid black;
      margin-bottom: 5px;
      margin-top: 10px;
    }

    h2
      {
      line-height: 25px;
    }

    ol
    {
      li
      {
        list-style-position: inside;
      }
    }

    p
    {
      text-align:  justify;
      margin-top:  5px;
      margin-bottom: 5px;
    }

  }
}