// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.banhammer
{
  display: block;
  text-align: center;
  text-decoration:  none;
  width:  100%;
  height:  150px;
  background-color: #c02633;
  color:  #ddd;
  line-height: 150px;
  font-size:  50px;
  position:  relative;
  top:  0px;
  left: 0px;

  &:hover
  {
    background-color: #e32636;
    color:  #fff;
  }
}

.unbanpillow
  {
  display: block;
  text-align: center;
  text-decoration:  none;
  width:  100%;
  height:  150px;
  background-color: #26c033;
  color:  #ddd;
  line-height: 150px;
  font-size:  50px;
  position:  relative;
  top:  0px;
  left: 0px;

  &:hover
    {
    background-color: #26e336;
    color:  #fff;
  }
}

#isBanned
{
  width:  100%;
  line-height: 150px;
  text-align:  center;
}


